# Ignore everything by default
*

# Keep the .gitignore itself
!.gitignore

# Allow src directory
!src/

# Allow only main.cpp inside src
!src/main.cpp
!ascii_art.txt
!ascii_img.py
!src/hexdump.c
!src/pipe.c
!src/pipe.h
!src/pipe.cpp